header {
	width: 100%;
	display: inline-block;
}

body  {
	max-width: 1800px;
	float: none;
	margin: auto;
	background-color: #f6f6f6;
}

/* Menu */
.topnav {
  background-color: #00726E;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: #FFFFFF;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 25px;
	margin-left: auto
	
}

/* color of links */
.topnav a:hover {
  background-color: #ABD6D5;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #c7ffd8;
  color: darkgreen;
}


/* Ceri's Creations */
h1 { 
	position: center;
	bottom: 250px;
	color: #00726E;
}

	
/* Logo */
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: auto;
	background-color: #bbb;
	border-radius: 50%;
}

.copyright {
	width: 100%;
	display: inline-block;
	position: fixed;
	left: 50%;
	bottom: 20px;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	background-color: #fff;
	
}


