
body  {
	max-width: 1800px;
	float: none;
	margin: auto;
	background-color: #f6f6f6;
	background-image: url("images/fantasy-town-blur.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
}

hr {
	border: 1px solid #eee;
} 

.topnav {
  background-color: #00726E;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: #FFFFFF;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 25px;
	margin-left: auto
	
}

/* color of links */
.topnav a:hover {
  background-color: #ABD6D5;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #c7ffd8;
  color: darkgreen;
}
/*end of topnav */

/********* FONTS **********/
h1{
	font-size: 40px;
	position: center;
	bottom: 250px;
	color: #00726E;
	margin-left: auto;
	margin-right: auto;
	filter: drop-shadow (0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
h2 {
	background-color: white;
	width: 600px;
	border: 3px solid #00726E;
	padding: 50px;
	font-size: 22px;
	position: center;
	color: #00726E;
	margin-left: auto;
	margin-right: auto;
}
