
body  {
	max-width: 1800px;
	float: none;
	margin: auto;
	background-color: #f6f6f6;
	background-image: url("images/fantasy-town-blur.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
}

hr {
	border: 1px solid #eee;
} 

.topnav {
  background-color: #00726E;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: #FFFFFF;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 25px;
	margin-left: auto
	
}

/* color of links */
.topnav a:hover {
  background-color: #ABD6D5;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #c7ffd8;
  color: darkgreen;
}
/*end of topnav */



/********* FONTS **********/
h1{
	font-size: 40px;
	position: center;
	bottom: 250px;
	color: #520675;
}
nav { 	 
	width: 100%;
}

nav ul{
	text-align: center;
	margin: 0px;
	padding: 0px;
}

/* creates a list item */
nav ul li {
	display: inline;
	list-style: none;
	float: left;
	padding: 5px;
	margin-left: 5px;
	text-align: center;
	border: 2px solid #eee;
	-moz-border-radius: 6px;
	width: 17%; /*fallback for non-calc browsers */
	width: calc(85% / 5);
	box-sizing: border-box;
}

/*styling for link fonts */

nav a:link, nav a:active, nav a:visited {
	font-family: calibri;
	font-weight: bold;
	font-size: 1.4em;
	text-decoration: none;
}

nav a:link{
	color: #f60; /*nav link color*/
}

nav a:active {
	color: #f00; /* nav link active colour*/
}

nav a:visited {
	color: #777;
}


/****************** CONTACT FORM ******************/


/*** subject box/field ***/
input [type=text], select, textarea {
	width: 100%;
	padding: 7px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}



/*** form content separation ***/
label{
	padding: 12px 12px 12px 0;
	display: inline-block;
}

/** makes the submit button a button**/
input [type-submit] {
	background-color: #00726E;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	margin-right: 35px;
}

input [type=submit]:hover {
	background-color: #00726E;
}


/*** main box/ grey field***/
.contact_container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	max-width: 900px;
	position: center;
	margin-left:auto;
	margin-right: auto;
	
}

/*** input fields ***/
.column {
	float: left;
	width: 25%;
	margin-top: 6px;
}

/*** field labels ***/
.column2 {
	float: left;
	width: 73%;
	margin-top: 6px;
}

/* clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}

/********** Copyright *********/

.copyright {
	width: 100%;
	position: fixed;
	left: 50%;
	bottom: 5px;
	transform: translate(-50%, -50%);
	
}


	